<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Seleccione la base de datos que desea ver:</h1>
    <label for="base-select">Escoge una base de datos:</label>

    <form id="search">
      <select id="data">
        <% dbs.forEach((db)=>{ -%>
        <option value="<%=db.name%>"> <%=db.name%></option>
        <% }) -%>
      </select>
      <button type="submit">Buscar colecciones</button>
    </form>
    <br />
    <div id="lista"></div>

    <form id="form"></form>
    <div id="final"></div>
    <br />
    <form id="crear"></form>

    <form id="table">
      <button type="submit">boton</button>
    </form>

    <script src="/javascripts/parcial.js"></script>
    <script src="/javascripts/csvExport.js"></script>
  </body>
</html>
