<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <form id = "table">
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>john@gmail.com</td>
          <td>USA</td>
        </tr>
        <tr>
          <td>Stephen Thomas</td>
          <td>stephen@gmail.com</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Natly Oath</td>
          <td>natly@gmail.com</td>
          <td>France</td>
        </tr>
      </table>
      
      <button type="submit">
        Export HTML Table To CSV File
      </button>
    </form>
    <script src="/javascripts/csvExport.js"></script>
  </body>
</html>
